@model CoverType

@{
	ViewData["Title"] = "Edit CoverType";
}

<h1>Edit</h1>

// asp-action="Edit" is the action method in the controller, it does not need to be mentioned since the GET method is the same as the post
<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit CoverType</h2>
		</div>
		<div asp-validation-summary="All" class="text-danger"></div>
		<div class="mb-3">
			<label asp-for="Name" class="form-label"></label>
			<input asp-for="Name" class="form-control" type="text"/>
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>	
		<div class="mb-3">
			<button type="submit" class="btn btn-primary" style="width:150px">Confirm Changes</button>
			<a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">Cancel</a>
		</div>
	</div>
</form>

//including partial here that will do client side validations
@section Scripts {
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}